html, body {
    margin:0;
    padding:0;
}

body {
    background-color: #BAD7C2;
    overflow: scroll;
}

#navbar {
    position: fixed;
    background-color: #9FBCA7;
    top:0%;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    font-family: 'Amatic SC';
    font-weight: bolder;
    font-size: 200%;
    letter-spacing: 5px;
    color: white;
    text-decoration: none;
}

#button {
    margin-right: 60px;
    text-decoration: none;
}

#button:hover {
    text-decoration: underline;
    transform: scale(1.1);
    cursor: pointer;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
    text-align: center;
}

#summary {
    width: 80%;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#row {
    display: flex;
    flex-direction: row;
    margin: 60px;
}

#image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9FBCA7;
    margin: 60px;
    border-radius: 30px;
}

#art {
    width: 70%;
}

#title {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Amatic SC';
    font-weight: bolder;
    font-size: 500%;
    letter-spacing: 5px;
    color: white;
}

h2 {
    font-family: 'Patrick Hand';
    font-weight: normal;
    font-size: 200%;
    letter-spacing: 5px;
    color: white;
}

h3 {
    text-decoration: none;
}

p {
    font-family: 'Patrick Hand';
    font-weight: normal;
    font-size: 140%;
    letter-spacing: 5px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}